result
result-*
.direnv
.envrc
*.swp
node_modules
.npm-global

# Local Configurations
nix/modules/local-*.nix
nix/local.nix
~/.config/hypr/monitors.conf
~/.config/hypr/workspaces.conf
~/.config/hypr/nvidia.conf
